.movieContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-small);
    color: var(--color-white);
    background-color: var(--color-lightBlack);
    gap: 2rem;
    width: 100%;
    height: 90vh;
    justify-content: space-between;
}
  
.poster {
    width: auto;
    height: 80vh;
    border-radius: 10px;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.movieInfo {
    max-width: 100%;
}
  
.movieInfo h1 {
    margin-bottom: 1rem;
}
  
.movieInfo p {
    margin: 0.5rem 0;
}

/* ------- */

.addBtn {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* ---------- */

.trailerHeading {
    margin-bottom: 1rem;
}
.movieTrailer {
    width:500px;
    height:255px; 
    /* må ha 245px differanse mellom bredde og høyde */
}
    