Button {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--font-medium);
    background-color: var(--color-magenta);
    border: 1px solid var(--color-magenta);
}
Button:hover {
    transition: background-color 0.2s ease;
    background-color: var(--color-magenta-hover);
}