.watchlistContainer {
    width: 100%;
    height: 90vh;
    color: var(--color-white);
    background-color: var(--color-lightBlack);
    text-align: center;
    padding: var(--padding-medium);
}
  
.watchlistGrid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1rem;
}
  
.watchlistCard {
    background: var(--color-black);
    border-radius: 10px;
    padding: 0.5rem;
    position: relative;
    transition: transform 0.2s;
}
.watchlistCard:hover {
    transform: scale(1.05);
}

.linkCardContainer {
    text-align: center;
    color: var(--color-white-hover);
}

.movieImg {
    width: 100%;
    border-radius: 6px;
}

/* ------ */
  
.watchlistBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #e50914;
}
  
.watchlistBtn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* ------- */

.emptyState {
    text-align: center;
    margin-top: 4rem;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.subtitle {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #888;
}
  
.exploreBtn {
    margin-top: 1rem;   
}
  