.navbarContainer {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    background-color: var(--color-black);
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-small);
    width: 100%;
    flex-wrap: wrap;
}

/* -------- */

.left {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 180px;
    height: auto;
}

/* -------- */

.searchContainer {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.search {
    width: 300px;
    height: 1.875rem;
    background-color: var(--color-white);
    border: 2px solid var(--color-magenta);
    padding: var(--padding-small);
    border-radius: 10px;
}
/* -------- */

.links {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.link {
    color: var(--color-white);
}
.link:hover {
    color: var(--color-white-hover);
    transition: color 0.2s ease;
}

/* -------- */

.right {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2rem;
    border: 2px solid var(--color-magenta);
    background-color: var(--color-white-hover);
}
.avatar:hover {
    border: 2px solid var(--color-white);
}
  