.banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
.titleOverlay {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: var(--color-magenta);
}

/* Responsive design */
@media screen and (max-width: 474px) {
    .titleOverlay {
        left: 30px;
    }
}
@media screen and (max-width: 318px) {
    .titleOverlay {
        left: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 268px) {
    .titleOverlay {
        left: 10px;
        text-align: center;
    }
}

  